.form-css {}

.form-css>* {
    width: 100%;
}

.card-css {
    margin-top: 10%;
}

.spinner-css {
    margin: auto;
    margin-bottom: 5%;
}

.link-css {
    cursor: pointer;
    color: #3f51b5;
}

.addMargin-css>* {
    margin-left: 10px;
}