<mat-card *ngIf="showLogin" class="card-css offset-4 offset-sm-4 offset-md-4 offset-lg-4 offset-xl-4 col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
  <mat-card-title class="text-center">Login</mat-card-title>
  <mat-card-content>
    <form class="form-css" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput placeholder="Unique Id" formControlName="uniqueId">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password">
      </mat-form-field>
      <mat-radio-group class="addMargin-css" formControlName="role">
        <mat-radio-button color="primary" value="Merchant">Merchant</mat-radio-button>
        <mat-radio-button color="primary" value="Bank">Bank</mat-radio-button>
        <mat-radio-button color="primary" value="NOCA">NOCA</mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login </button>
    </form>
  </mat-card-content>
  <div class="text-center link-css" (click)="showLogin=false">
    Not a member? Signup
  </div>
</mat-card>

<mat-card *ngIf="!showLogin" class="card-css offset-3 offset-sm-3 offset-md-3 offset-lg-3 offset-xl-3 col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
  <mat-card-title *ngIf="!showLogin" class="text-center">Signup</mat-card-title>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Merchant">
      <mat-card-content>
        <form class="form-css" [formGroup]="singupFormMerchant" (ngSubmit)="signup(singupFormMerchant.value.role)">
          <div class="row">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Full Name" formControlName="fullName">
            </mat-form-field>
            <mat-form-field class="col-md-6">
              <input matInput placeholder="Unique Id" formControlName="uniqueId">
            </mat-form-field>
            <mat-form-field class="col-md-6">
              <input matInput placeholder="Password" formControlName="password" type="password">
            </mat-form-field>
            <mat-form-field class="col-md-6">
              <input matInput placeholder="Email" formControlName="emailId">
            </mat-form-field>
            <mat-form-field class="col-md-6">
              <input matInput [max]="maxValidityDate" [matDatepicker]="doe" matInput placeholder="Date of Establishment" formControlName="dateOfEstablishment">
              <mat-datepicker-toggle matSuffix [for]="doe"></mat-datepicker-toggle>
              <mat-datepicker #doe></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-md-12">
              <mat-select placeholder="Category" formControlName="category">
                <mat-option *ngFor="let category of categoryList" [value]="category">
                  {{category}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button *ngIf="!spinner" mat-raised-button color="primary" type="submit" [disabled]="singupFormMerchant.invalid">signup </button>
        </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Bank">
      <mat-card-content>
        <form class="form-css" [formGroup]="singupFormBank" (ngSubmit)="signup(singupFormBank.value.role)">
          <mat-form-field>
            <input matInput placeholder="Unique Id" formControlName="uniqueId">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Bank Name" formControlName="fullName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Domain" formControlName="domainName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
          </mat-form-field>
          <button *ngIf="!spinner" mat-raised-button color="primary" type="submit" [disabled]="singupFormBank.invalid">signup </button>
        </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="NOCA">
      <mat-card-content>
        <form class="form-css" [formGroup]="singupFormNoca" (ngSubmit)="signup(singupFormNoca.value.role)">
          <mat-form-field>
            <input matInput placeholder="Unique Id" formControlName="uniqueId">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="NOCA Name" formControlName="fullName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Domain" formControlName="domainName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
          </mat-form-field>
          <button *ngIf="!spinner" mat-raised-button color="primary" type="submit" [disabled]="singupFormNoca.invalid">signup </button>
        </form>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>

  <mat-progress-spinner class="spinner-css" *ngIf="spinner" diameter="50" color="Accent" mode="indeterminate">
  </mat-progress-spinner>
  <div *ngIf="!spinner" class="text-center link-css" (click)="showLogin=true">
    Already registered? Login
  </div>
</mat-card>