.sideNavContainer-css {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
}

.sidenav-css {
    /* background: #d2d2d0c7; */
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.newPartnershipButton-css {
    margin: 20px;
}

.selectedNav-css {
    color: white !important;
    background-color: #3f51b5;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    border-radius: 4px;
    transition-delay: 100ms
}

.selectedNav-css:hover {
    color: white !important;
    background-color: #3f51b5;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    border-radius: 4px;
}

.sideNavContent-css {
    background-image: url("../../../assets/bk.jpg");
    padding: 0;
    padding-left: 30px;
    padding-right: 30px
}

.navList-css {
    padding: 10px
}

.poweredby-css {
    position: absolute;
    bottom: 2%;
    text-align: center;
    width: 100%;
    color: #0e0e0e8f
}

.closeButton-css {
    padding: 20px;
    cursor: pointer
}

.closeButton-css:hover {
    transform: scale(1.2)
}

.infoButton-css {
    padding: 20px;
    cursor: pointer
}

.infoButton-css:hover {
    transform: scale(1.2)
}

.info-css {
    padding: 20px;
    cursor: pointer
}

.navButton-css {
    margin: 20px;
    cursor: pointer
}

.navButton-css:hover {
    transform: scale(1.2)
}

.dashboardTittle-css {
    font-size: 30px;
    color: white;
    padding: 10px;
    /* text-shadow: 2px 2px #c9c9c975; */
}