<mat-sidenav-container class="sideNavContainer-css">
    <mat-sidenav #sidenav [mode]="mode.value" opened=true class="sidenav-css">
        <mat-nav-list class="navList-css">

            <!-- For merchants -->
            <a *ngIf="userInfo?.role=='Merchant'" mat-list-item [class.selectedNav-css]="selectedNav == 'merchantRequests'" (click)="merchantRequests()">
                <mat-icon>archive</mat-icon> Merchant Requests </a>
            <mat-divider *ngIf="userInfo?.role=='Merchant'"></mat-divider>
            <a *ngIf="userInfo?.role=='Merchant'" mat-list-item [class.selectedNav-css]="selectedNav == 'newRequests'" (click)="newRequests()">
                <mat-icon>send</mat-icon> New Request </a>
            <mat-divider *ngIf="userInfo?.role=='Merchant'"></mat-divider>


            <!-- For banks -->
            <a *ngIf="userInfo?.role=='Bank'" mat-list-item [class.selectedNav-css]="selectedNav == 'bankRequests'" (click)="bankRequests()">
                <mat-icon>archive</mat-icon> Bank Requests </a>
            <mat-divider *ngIf="userInfo?.role=='Bank'"></mat-divider>
            <a *ngIf="userInfo?.role=='Bank'" mat-list-item [class.selectedNav-css]="selectedNav == 'settings'" (click)="settings()">
                <mat-icon>build</mat-icon> Settings </a>
            <mat-divider *ngIf="userInfo?.role=='Bank'"></mat-divider>

            <!-- For noca -->
            <a *ngIf="userInfo?.role=='NOCA'" mat-list-item [class.selectedNav-css]="selectedNav == 'nocaRequests'" (click)="nocaRequests()">
                <mat-icon>archive</mat-icon>Noca Requests </a>
            <mat-divider *ngIf="userInfo?.role=='NOCA'"></mat-divider>

            <!-- For all -->
            <a mat-list-item>
                <mat-icon>person</mat-icon> Profile </a>
            <mat-divider></mat-divider>
            <a mat-list-item>
                <mat-icon>help</mat-icon> Help </a>
            <mat-divider></mat-divider>
        </mat-nav-list>
        <!-- <div class="poweredby-css">Powered by
            <br/> Mind-Chain</div> -->
    </mat-sidenav>

    <mat-sidenav-content class="sideNavContent-css">
        <div class="row">
            <div class="text-center dashboardTittle-css col-md-12">
                {{ dashboardTittle }}
            </div>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>