<mat-progress-spinner *ngIf="spinner" class="spinner-css" diameter="50" mode="indeterminate">
</mat-progress-spinner>
<div *ngIf="!spinner" class="row">
  <div class="col-md-4 div-css" *ngFor="let requests of requestsList">
    <mat-card class="card-css">
      <div class="row">
        <div class="col-md-2">
          <mat-icon class="icon-css">account_balance</mat-icon>
        </div>
        <div class="col-md-10">
          <div class="orgName-css col-md-12">{{requests.Type}}</div>
        </div>
      </div>
      <div class="col-md-12 docStatus-css" *ngFor="let docs of requests.docs">
        {{docs.Type}} is
        <span [class.red1-css]="docs.Status =='REJECTED'" [class.green1-css]="docs.Status =='APPROVED'" [class.blue1-css]="docs.Status =='PENDING'">
          {{docs.Status}}
          <mat-icon *ngIf="docs.Status =='APPROVED'">done</mat-icon>
          <mat-icon *ngIf="docs.Status =='REJECTED'">close</mat-icon>
          <mat-icon *ngIf="docs.Status =='PENDING'">rotate_left</mat-icon>
        </span>

      </div>
      <br/>
      <mat-divider class="divider-css"></mat-divider>
      <div class="row actionButton-css" *ngIf="requests.pay == true">
        <div class="offset-6 col-md-6">
          <button class="col-md-12 " color="primary" mat-raised-button (click)="pay(requests.Type, requests.Status ,'APPROVED' )">
            Pay {{requests.Data}}
            <mat-icon>style</mat-icon>
          </button>
        </div>
      </div>
      <div class="pending-css" *ngIf="requests.Status =='PENDING' && requests.pay == false">
        Pending
        <mat-icon>shutter_speed</mat-icon>
      </div>
      <div class="approved-css" *ngIf="requests.Status =='APPROVED'">
        Approved
        <mat-icon>check_circle</mat-icon>
      </div>
      <div class="rejected-css" *ngIf="requests.Status =='REJECTED'">
        Rejected
        <mat-icon>error</mat-icon>
      </div>
      <!-- <div class="row">
          <mat-progress-bar *ngIf="partnershipRequest.spinner" mode="indeterminate"></mat-progress-bar>
        </div> -->
    </mat-card>
  </div>
  <div class="col-md-12 text-center empty-css" *ngIf="requestsList.length==0">
    No Requests.
  </div>
</div>