<mat-toolbar class="shadow-css" color="primary">
  <span class="title">Merchant Onboarding</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <div class="profileButton-css" *ngIf="loggedIn" mat-button [matMenuTriggerFor]="appMenu">
    <span> {{userInfo?.name}}</span>
  </div>

  <mat-menu #appMenu="matMenu" class="float-right" [overlapTrigger]=false>
    <button mat-menu-item (click)="logout()">
      <mat-icon>reply</mat-icon> Logout </button>
  </mat-menu>

</mat-toolbar>