.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.shadow-css {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.profileButton-css {
    padding: 20px;
    cursor: pointer
}

.profileButton-css:hover {
    transform: scale(1.2)
}

.title {
    font-size: 30px;
    font-style: italic;
}