<mat-card class="card-css offset-md-1 col-md-10">
  <mat-card-title class="text-center">Select documets required for the Categories</mat-card-title>
  <mat-card-content>
    <form class="form-css" [formGroup]="cotegorySettingForm" (ngSubmit)="submit()">
      <div class="row">
        <mat-form-field class="col-md-10">
          <mat-select placeholder="Category 1" formControlName="category1" multiple>
            <mat-option *ngFor="let document of documentList" [value]="document">{{document}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-2">
          <input matInput placeholder="Amount" formControlName="category1Amount">
        </mat-form-field>
        <mat-form-field class="col-md-10">
          <mat-select placeholder="Category 2" formControlName="category2" multiple>
            <mat-option *ngFor="let document of documentList" [value]="document">{{document}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-2">
          <input matInput placeholder="Amount" formControlName="category2Amount">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" *ngIf="!spinner" type="submit" [disabled]="cotegorySettingForm.invalid">Submit </button>
      <mat-progress-spinner class="spinner-css" *ngIf="spinner" diameter="50" color="Accent" mode="indeterminate">
      </mat-progress-spinner>
    </form>
  </mat-card-content>
</mat-card>