<mat-progress-spinner *ngIf="spinner" class="spinner-css" diameter="50" mode="indeterminate">
</mat-progress-spinner>
<div *ngIf="!spinner" class="row">
  <div class="col-md-4 div-css" *ngFor="let requests of requestsList">
    <mat-card class="card-css">
      <div class="row">
        <div class="col-md-2">
          <mat-icon class="icon-css">person</mat-icon>
        </div>
        <div class="col-md-10">
          <div class="orgName-css col-md-12">{{requests.merchantName}}</div>
        </div>
        <div class="col-md-12">
          <button class="col-md-12 document-css" mat-raised-button color="primary" (click)="viewDocument(requests.document.Data)">
            Documents
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </div>
      </div>
      <br/>
      <mat-divider class="divider-css"></mat-divider>
      <div class="row actionButton-css" *ngIf="requests.document.Status=='PENDING'">
        <div class="col-md-6">
          <button class="col-md-12 green-css" mat-raised-button (click)="action(requests.document.MerchantId,'APPROVED')">
            Accept
            <mat-icon>done</mat-icon>
          </button>
        </div>
        <div class="col-md-6">
          <button class="col-md-12 red-css" mat-raised-button (click)="action(requests.document.MerchantId,'REJECTED')">
            Reject
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="approved-css" *ngIf="requests.document.Status =='APPROVED'">
        Approved
        <mat-icon>check_circle</mat-icon>
      </div>
      <div class="rejected-css" *ngIf="requests.document.Status =='REJECTED'">
        Rejected
        <mat-icon>error</mat-icon>
      </div>
      <!-- <div class="row">
        <mat-progress-bar *ngIf="partnershipRequest.spinner" mode="indeterminate"></mat-progress-bar>
      </div> -->
    </mat-card>
  </div>
  <div class="col-md-12 text-center empty-css" *ngIf="requestsList.length==0">
    No Requests.
  </div>
</div>