.card-css {
    border-radius: 5px
}

.div-css {
    padding: 10px;
}

.spinner-css {
    margin: auto;
    margin-top: 20%;
}

.spinner-card-css {
    margin: auto;
    margin-top: 10px
}

.empty-css {
    margin-top: 20%;
    color: white
}

.divider-css {
    margin-left: 5%;
    width: 90% !important
}

.orgName-css {
    font-size: 25px;
    text-align: right
}

.domain-css {
    font-size: 15px;
    text-align: right;
    color: grey
}

.date-css {
    color: grey;
    padding-top: 5px;
    font-size: 15px
}

.icon-css {
    font-size: 50px;
    text-shadow: 2px 2px 1px grey
}

.actionButton-css {
    margin-top: 20px;
}

.red-css {
    background-color: #ff0000;
    color: white
}

.document-css {
    background-color: #414769
}

.green-css {
    background-color: #047920;
    color: white
}

.approved-css {
    color: #047920;
    text-align: center;
    font-size: 20px;
    font-weight: bolder
}

.rejected-css {
    color: #ff0000;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

