.bankSelect-css {
    margin-top: 10%
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.spinner-css {
    margin: auto;
    margin-top: 20%;
}

.spinner-card-css {
    margin: auto;
    margin-top: 10px
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-weight: 300;
    color: white;
    display: inline-block;
    padding: 10px;
    background-color: grey;
    box-shadow: 1px 1px 1px black;
    border-radius: 2px;
}


.empty-css {
    margin-top: 20%;
    color: white
}

.inputfile+label {
    cursor: pointer;
}

.actionButton-css {
    margin-top: 20px;
}

.uploaded-css {
    background-color: rgb(26, 184, 5) !important;
}


.docStatus-css {
    color: grey
}

.red1-css {
    color: red !important
}

.blue1-css {
    color: blue !important
}

.green1-css {
    color: green !important
}

.docTitle-css{
color: gray;
font-weight: bolder
}