<mat-progress-spinner *ngIf="spinner" class="spinner-css" diameter="50" mode="indeterminate">
</mat-progress-spinner>
<mat-card *ngIf="!spinner && !bankSelected &&  bankList.length!=0" class="bankSelect-css offset-3 col-md-6">
  <form class="form-css" [formGroup]="chooseBankForm">
    <div class="row">
      <mat-form-field class="col-md-12">
        <mat-select placeholder="Select Bank" formControlName="bank" (selectionChange)="getDocListForBank($event.value)">
          <mat-option *ngFor="let bank of bankList" [value]="[bank.bankUniqueId,bank.bankName,bank.id]">{{bank.bankName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-card>


<mat-card *ngIf="!spinner && bankSelected" class="bankSelect-css offset-3 col-md-6">
  <mat-card-title class="text-center">Upload Documents</mat-card-title>

  <div class=" offset-md-3 col-md-6   text-center green1-css" *ngFor="let doc of documentsList.Verified">
    {{doc}} Verified
    <mat-icon>done</mat-icon>
  </div>

  <form>
    <div class=" offset-md-3 col-md-6 " *ngFor="let doc of documentsList.NotVerified; let i = index" [attr.data-index]="i">
      <div class="row">
        <div class="col-md-6 docTitle-css">{{doc}}</div>
        <input class="col-md-6" (change)="fileUpload(doc,$event)" type="file" [id]="doc" class="inputfile" accept=".pdf" />
        <label class="col-md-6 text-center" [for]="doc" *ngIf="documentsToSubmit[documentsList.NotVerified[i]]==null">Upload</label>
        <label class="col-md-6  text-center uploaded-css" [for]="doc" *ngIf="documentsToSubmit[documentsList.NotVerified[i]]!=null">Uploaded</label>
      </div>
    </div>
  </form>

  <div class="row" *ngIf="submittedSpinner">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="row actionButton-css" *ngIf="!submittedSpinner">
    <div class="col-md-6">
      <button class="col-md-12 " mat-raised-button color="primary" mat-raised-button (click)="close()">
        Close
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="col-md-6">
      <button class="col-md-12 " mat-raised-button color="primary" mat-raised-button (click)="submit()">
        Submit
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</mat-card>

<div class="col-md-12 text-center empty-css" *ngIf="bankList?.length==0">
  No Banks to send Request.
</div>