<mat-progress-spinner *ngIf="spinner" class="spinner-css" diameter="50" mode="indeterminate">
</mat-progress-spinner>
<div *ngIf="!spinner" class="row">
  <div class="col-md-4 div-css" *ngFor="let requests of requestsList">
    <mat-card class="card-css">
      <div class="row">
        <div class="col-md-2">
          <mat-icon class="icon-css">person</mat-icon>
        </div>
        <div class="col-md-10">
          <div class="orgName-css col-md-12">{{requests.name}}</div>
          <div class="date-css col-md-12">Doe : {{dateFormat(requests.DOE)}}</div>
        </div>
      </div>
      <!-- <div class="col-md-12">
        <button class="col-md-12 document-css" mat-raised-button color="primary" (click)="viewDocument(requests.dockList[0].BankDoc)">
          Documents
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
      </div> -->

      <div class="col-md-12 docStatus-css">
        Payment is
        <span [class.red1-css]="requests.dockList[0].PaymentStatus =='REJECTED'" [class.green1-css]="requests.dockList[0].PaymentStatus =='APPROVED'"
          [class.blue1-css]="requests.dockList[0].PaymentStatus =='PENDING'">
          {{requests.dockList[0].PaymentStatus}}
          <mat-icon *ngIf="requests.dockList[0].PaymentStatus =='APPROVED'">done</mat-icon>
          <mat-icon *ngIf="requests.dockList[0].PaymentStatus=='REJECTED'">close</mat-icon>
          <mat-icon *ngIf="requests.dockList[0].PaymentStatus=='PENDING'">rotate_left</mat-icon>
        </span>

      </div>

      <div class="col-md-12 docStatus-css" *ngFor="let docs of requests.dockList[0].docs">
        {{docs.Type}} is
        <span [class.red1-css]="docs.Status =='REJECTED'" [class.green1-css]="docs.Status =='APPROVED'" [class.blue1-css]="docs.Status =='PENDING'">
          {{docs.Status}}
          <mat-icon *ngIf="docs.Status =='APPROVED'">done</mat-icon>
          <mat-icon *ngIf="docs.Status =='REJECTED'">close</mat-icon>
          <mat-icon *ngIf="docs.Status =='PENDING'">rotate_left</mat-icon>
        </span>

      </div>
      <br/>
      <mat-divider class="divider-css"></mat-divider>
      <div class="row actionButton-css" *ngIf="requests.dockList[0].Status=='PENDING'">
        <div class="col-md-6">
          <button class="col-md-12 green-css" mat-raised-button (click)="action(requests.dockList[0].MerchantId,'APPROVED',requests.dockList[0].PaymentStatus)"
            [disabled]="requests.dockList[0].PaymentStatus=='PENDING'">
            Accept
            <mat-icon>done</mat-icon>
          </button>
        </div>
        <div class="col-md-6">
          <button class="col-md-12 red-css" mat-raised-button (click)="action(requests.dockList[0].MerchantId,'REJECTED', requests.dockList[0].PaymentStatus)">
            Reject
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="approved-css" *ngIf="requests.dockList[0].Status =='APPROVED'">
        Approved
        <mat-icon>check_circle</mat-icon>
      </div>
      <div class="rejected-css" *ngIf="requests.dockList[0].Status =='REJECTED'">
        Rejected
        <mat-icon>error</mat-icon>
      </div>
      <!-- <div class="row">
          <mat-progress-bar *ngIf="partnershipRequest.spinner" mode="indeterminate"></mat-progress-bar>
        </div> -->
    </mat-card>
  </div>
  <div class="col-md-12 text-center empty-css" *ngIf="requestsList.length==0">
    No Requests.
  </div>
</div>